<main>
 <!--<nav class="navbar navbar-inverse" role="navigation">-->
 <!--   <div class="navbar-header">-->
 <!--       <a class="navbar-brand" href="/">AngularUI Router</a>-->
 <!--   </div>-->
 <!--   <ul class="nav navbar-nav">-->
 <!--       <li><a ui-sref="getDate">Date</a></li>-->
 <!--   </ul>-->
 <!-- </nav>-->
  <div class="container">
    <div ui-view></div>
  </div>

  <!-- Images (and assets) are parsed and loaded from within the public directory -->
  <!--<img src="/img/logo.png">-->
</main>
<footer>
  <a ng-href="{{app.url}}">{{app.starter}}</a>
</footer>