
<div class="row col-sm-6 col-sm-offset-3  centered-div">
    <h1 class="col-sm-12">Enter...</h1>
   <div style="width:100%: height:200px" > </div>
   <form class="form-horizontal " ng-submit="onSubmit()" novalidate >
    <div class="form-group">
    <div class="col-sm-12" >
    	<input class="form-control" type="text" ng-model="user.name" required placeholder="Name"/><br />
    </div>
    </div>
    <div class="form-group">
    <div class="col-sm-12 ">
    	<input class="form-control" type="text" ng-model="user.age" required placeholder="Age" /><br />
    </div>
    </div>
    <div class="form-group">
    <div class="col-sm-12">
    	<input class="form-control" type="text" ng-model="user.weight" required placeholder="Weight" /><br />
    </div>
    </div>
    <div class="form-group">
	    <div class="col-sm-12">
		    <select class="form-control">
		    	<option selected disabled value="placeholder">Gender</option>
			    <option value="male">male</option>
			    <option value="female">female</option>
		    </select>
	    </div>
    </div>
    <div class="form-group">
	    <div class="col-sm-12">
		     <select class="form-control">
		    	<option selected disabled value="placeholder">Select chronic illness...</option>
			    <option ng-repeat="disease in chronicDiseaseOptions" value="{{disease}}">{{disease}}</option>
		    </select>
	    </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
   </form>
</div>