
<div >
    <uib-datepicker ng-model="app.dt" class="" datepicker-options="app.options" ></uib-datepicker>
    <button type="button" ui-sref="getInfo" class="btn button-next" ><span >Next</span></button>
</div>