

a {
  color: #03A9F4;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

.uib-daypicker{
  outline: none !important;
  border-spacing: 0px;
}

.uib-title {
  cursor: default;  
  color: #000;
}

.uib-title:hover {
  background: transparent;
  color: #fff;
}

.uib-title , .uib-left , .uib-right{
  background: transparent;
  border: 0px;
  color: #fff;
}

.uib-title:active , .uib-left:active , .uib-right:active{
  background: transparent;
  border: 0px;
  
}

 .uib-left:hover , .uib-right:hover{
  background: #fff;
  opacity:.5;
  border: 0px;
  color: #fff;
}

.uib-title:focus , .uib-left:focus , .uib-right:focus{
  background: transparent;
  border: 0px;
  color: #fff;
}

.calendar-button{
  background: transparent;
  color: #fff;
}

.calendar-button:hover{
  background: #ddd;
  border-radius: 0px;
  color: #000;
  opacity: .7;
}

.datepicker-background{
    width: 320px;
    z-index: -1;
     top: 28px; 
    left: calc(50% - 160px);
    position: relative;
}

.datepicker-foreground{
    position: absolute;
    z-index: 10;
    left: calc(50% - 133px);
}

.calendar-button{
  padding: 14px 10px;
}

.day-header{
  padding:10px;
  color: #fff;
}

.button-next{
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0px;
  color:#fff;
}

.button-next:hover{
  background-color: #fff;
  opacity:.5;
}

.btn-info:active{
  background-color: #fff;
  opacity:.5;
}